// ========================================> Color declaration
:root {
  --color-primary: #3ab0ff;
  --color-secondary: #f87474;
  --color-bg-primary: #f5f5f5;
  --color-bg-secondary: #333;
  --color-text-primary: #333;
  --color-text-secondary: #f5f5f5;
  --color-gray: #d8d8d8;
}
